<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" charset="UTF-8"/>
  <title></title>
</head>
<body>
<p th:text="#{greetings(${name})}"></p>
<p th:text="#{wishes}"></p>
<p th:text="#{schedule}"></p>

<dl>
  <dt th:text="#{admin}"></dt>
  <dd><span th:text="#{monday}"></span>- 10:00-20:00</dd>
  <dd><span th:text="#{tuesday}"></span>- 10:00-20:00</dd>
  <dd><span th:text="#{wednesday}"></span>- 10:00-20:00</dd>
  <dd><span th:text="#{thursday}"></span>- 10:00-20:00</dd>
  <dd><span th:text="#{friday}"></span>- 10:00-20:00</dd>
  <dd><span th:text="#{saturday}"></span>- 10:00-20:00</dd>
  <dd><span th:text="#{sunday}"></span>- 10:00-20:00</dd>
  <dt th:text="#{waiter}"></dt>
  <dd><span th:text="#{monday}"></span>- 8:00-20:00</dd>
  <dd><span th:text="#{tuesday}"></span>- 8:00-20:00</dd>
  <dd><span th:text="#{wednesday}"></span>- 8:00-20:00</dd>
  <dd><span th:text="#{thursday}"></span>- 8:00-20:00</dd>
  <dd><span th:text="#{friday}"></span>- 8:00-20:00</dd>
  <dd><span th:text="#{saturday}"></span>- 8:00-20:00</dd>
  <dd><span th:text="#{sunday}"></span>- 8:00-20:00</dd>
</dl>
<img src="cid:attachment.jpeg" />
</body>
</html>
